body{
    font-family: Perpetua;
    font-size: 50px;
    color: #f673aa;
    
}
h2{
    margin: 0;
}
.contenedor2{
display: flex;
/* flex-wrap: wrap;
flex-direction: column; */
flex-flow: column wrap;
justify-content: center;
height: 200px;
width: 100%;
}
.Marca1 img{
    z-index:1;
    font-size: 40px;
    text-align: center; 
    width: 100%;
}
.HijoImagen{
z-index: 2;
animation-name: nube3;
animation-duration: 3s;
animation-iteration-count: infinite;
}
.HijoImagen img{
    
    
}
.HijoButton {
 width: 100%;
 z-index: 3;
 position: absolute;
 display: flex;
 flex-flow: column wrap;
 align-content: center;
 
}
.HijoButton button{
    border-radius: 50px;
    background-color: #f673aa;
    color: white;
    font-size: xx-large;
    box-shadow: 0px 4px 13px 5px rgba(252, 74, 163, 0.7);
    animation-name: button1;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes button1 {
    100%{background-color: #a80046;}
}
#img2{
    width: 100%;
}
@keyframes nube3 {
    0%{top: 0px;left: 0px;
        opacity: 1;
        right: 0px;}
    100%{top: 0;left: 0;
        opacity: .1;
        right: 0px;}
}

img{
  
}
.grid{
    margin: 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.element{
    
}
.grid img{
    width: 90px;
}
#imgfix1{
    height: 80px;
}